
// neutral scales
$neutral-lightest: #f0f0f2;
$neutral-extra-light: #e0e2e6;
$neutral-light: #c0c2c8;
$neutral-medium: #9ea0a5;
$neutral-dark: #7f8185;
$neutral-extra-dark: #5e5f63;
$neutral-darkest: #202122;

// primary scales
$primary-light: #0b0e3a;
$primary-medium: #060725;
$primary-dark: #020318;

// secondary scales
$secondary-light: #ef4c84;
$secondary-medium: #d31450;
$secondary-dark: #8c1038;

// accent scales
$accent-light: #00bfc1;
$accent-medium: #009598;
$accent-dark: #006c6e;

// typography
$font-family: 'Open Sans', sans-serif;

// font size
$h1-size: 3.5rem;   // 56px
$h2-size: 2.25rem;  // 36px
$h3-size: 1.25rem;  // 20px
$body-large-size: 1rem; // 16px
$body-small-size: 0.875rem; // 14px
$caption-size: 0.75rem; // 12px

// line height
$heading-line-height: 130%;
$body-line-height: 150%;

// font weight
$bold: 700;
$regular: 400;
$semibold: 600;