
// gray scales
$gray-lightest: #f0f0f2;
$gray-extra-light: #e0e2e6;
$gray-light: #c0c2c8;
$gray-medium: #9ea0a5;
$gray-dark: #7f8185;
$gray-extra-dark: #5e5f63;
$gray-darkest: #202122;

// blue scales
$navy-light: #0b0e3a;
$navy-medium: #060725;
$navy-dark: #020318;

// pink scales
$pink-light: #ef4c84;
$pink-medium: #d31450;
$pink-dark: #8c1038;

// cyan scales
$cyan-light: #00bfc1;
$cyan-medium: #009598;
$cyan-dark: #006c6e;

// typography
$font-family: 'Open Sans', sans-serif;

// font size
$h1-size: 3.5rem;   // 56px
$h2-size: 2.25rem;  // 36px
$h3-size: 1.25rem;  // 20px
$body-large-size: 1rem; // 16px
$body-small-size: 0.875rem; // 14px
$caption-size: 0.75rem; // 12px

// line height
$heading-line-height: 130%;
$body-line-height: 150%;

// font weight
$bold: 700;
$regular: 400;
$semibold: 600;